Repository VikingMotorsports/torque-vectoring, pull requests merged in 2023-05, with the labels that each got.

#34 Fixed Steering Wheel Angle Conversion
  simulation/simulation.py
  simulation/test_simulation.py
Labels: simulation

#35 Added smoothing functions to read from ADC buffers
  microcontroller/Core/Inc/comm.h
  microcontroller/Core/Src/comm.c
Labels: microcontroller

#36 Added functions for LUT
  microcontroller/Core/Inc/lut.h
  microcontroller/Core/Src/lut.c
Labels: microcontroller

#37 Pedal controller and RPM conversion
  microcontroller/Core/Inc/calc.h
  microcontroller/Core/Src/calc.c
  microcontroller/Core/Src/pedcon.c
Labels: microcontroller

#38 Main Update
  microcontroller/Core/Src/main.c
Labels: microcontroller

#39 Create torque_vectoring_sim_.slx
  simulink/torque_vectoring_sim_.slx
Labels: simulink

#40 Python script to generate LUT
  simulation/make_lut.py
Labels: simulation

#41 Fixed compile error in smoothing code
  microcontroller/Core/Src/comm.c
Labels: microcontroller

#43 Format/Logic Update
  microcontroller/Core/Inc/frequency.h
  microcontroller/Core/Inc/pedcon.h
  microcontroller/Core/Src/frequency.c
  microcontroller/Core/Src/main.c
  microcontroller/Core/Src/pedcon.c
Labels: microcontroller

#47 Update LUT in C code to use velocity as input.
  microcontroller/Core/Inc/lut.h
  microcontroller/Core/Src/lut.c
  simulation/lut.dat
  simulation/make_lut.py
  simulation/myfile
  simulation/table1
Labels: simulation, microcontroller

#48 CAN code implementation
  microcontroller/Core/Inc/retarget.h
  microcontroller/Core/Src/main.c
  microcontroller/Core/Src/retarget.c
Labels: microcontroller

#50 Freq and IOC fixes
  microcontroller/.cproject
  microcontroller/Core/Inc/frequency.h
  microcontroller/Core/Src/frequency.c
  microcontroller/Core/Src/main.c
  microcontroller/microcontroller.ioc
Labels: microcontroller
