Repository VikingMotorsports/torque-vectoring, pull requests merged in 2023-06, with the labels that each got.

#42 Create README.md
  simulink/README.md
  simulink/torque_vectoring_sim.slx
  simulink/torque_vectoring_sim_.slx
Labels: documentation, simulink, squash

#51 update readme for the simulation
  simulation/README.md
Labels: documentation, simulation

#52 Include LUT in microcontroller code
  microcontroller/Core/Inc/table.dat
  microcontroller/Core/Src/lut.c
  microcontroller/Core/Src/main.c
  simulation/make_lut.py
Labels: simulation, microcontroller

#54 Main lut
  microcontroller/Core/Inc/calc.h
  microcontroller/Core/Src/calc.c
  microcontroller/Core/Src/main.c
Labels: microcontroller

#53 Start microcontroller README
  microcontroller/README.md
Labels: documentation, microcontroller

#55 Small updates to lookup table generator documentation
  simulation/README.md
Labels: documentation, simulation

#46 Adding calculations in rust
  pid/src/calc.rs
  pid/src/main.rs
Labels: pid

#60 PID Plotter Graphics
  pid/Cargo.toml
  pid/src/graph.rs
Labels: pid

#59 Tests/fixes/main logic
  pid/.vscode/launch.json
  pid/Cargo.toml
  pid/src/calc.rs
  pid/src/lib.rs
  pid/src/main.rs
  pid/tests/test_calc.rs
Labels: pid

#61 CSV Exporter
  pid/Cargo.toml
  pid/src/export.rs
  pid/src/graph.rs
  pid/src/lib.rs
  pid/src/main.rs
  pid/tests/test_export.rs
  pid/tests/test_graph.rs
Labels: pid
